<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="chromedriverPath" value="C:\CheckOpetServer"/>
    <add key="logPath" value="C:\CheckOpetServer\Logs\LogTesteOpetServer.txt"/>
    <add key="urlAlunoOnline" value="http://academico.opet.com.br/lyceump/aonline/logon.asp"/>
    <add key="urlEntrada" value="http://academico.opet.com.br/lyceump/aonline/avisos.asp"/>
    <add key="login" value="1201500521"/>
    <add key="senha" value="1201500521"/>

	  <add key="urlLogin" value="https://www.opensubtitles.org/pt"/>
	  <add key="loginOs" value="anarchyosemite"/>
	  <add key="senhaOs" value="street1234"/>
	  
  </appSettings>
	
</configuration>